
.CodeMirror {
    border: 1px solid #eee;
    height: 550px;
    width: auto;
}

#geocontainer{
    position: relative;
    height: 600px;
}
#mymap{
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
}
#deck-canvas{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 999999;
}